.App {
  height: 100vh;
  text-align: center;
  font-family: Montserrat;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  background-image: radial-gradient(
    circle,
    hsla(220, 13%, 24%, 1) 0%, 
    hsla(220, 13%, 24%, 1) 10%, 
    hsla(220, 13%, 24%, 1) 10%, 
    hsla(220, 13%, 24%, 1) 20%, 
    hsla(220, 13%, 22%, 1) 20%, 
    hsla(220, 13%, 22%, 1) 30%, 
    hsla(220, 13%, 22%, 1) 30%, 
    hsla(220, 13%, 22%, 1) 40%, 
    hsla(220, 13%, 20%, 1) 40%,
    hsla(220, 13%, 20%, 1) 50%,
    hsla(220, 13%, 20%, 1) 50%,
    hsla(220, 13%, 20%, 1) 60%,
    hsla(220, 13%, 18%, 1) 60%,
    hsla(220, 13%, 18%, 1) 70%,
    hsla(220, 13%, 18%, 1) 70%,
    hsla(220, 13%, 18%, 1) 80%,
    hsla(220, 13%, 16%, 1) 80%,
    hsla(220, 13%, 16%, 1) 90%,
    hsla(220, 13%, 16%, 1) 90%,
    hsla(220, 13%, 16%, 1) 100%
  );
}

h1 {
  font-size: calc(60px + 2vmin);
  margin: 10px 0px 0px 0px;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5),
  0px 0px 10px rgba(255, 255, 255, 0.5);
}

h3 {
  font-size: calc(10px + 2vmin);
  margin: 0px 0px 0px 0px;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3),
  0px 0px 10px rgba(255, 255, 255, 0.3);
}

.moon-con {
  height: 40vmin;
  width: 40vmin;
  position: relative;
}
.moon {
  height: 40vmin;
  width: 40vmin;
  pointer-events: none;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moonpulse {
  width: 40vmin;
  height: 40vmin;
  background-color: #ffffff;
  border-radius: 40vmin;
  position: absolute;
  z-index: 1;
  box-shadow:
  0 0 20px 10px rgba(255, 255, 255, 0.3);
}
.moonpulse:before,
.moonpulse:after {
  content: "";
  width: 40vmin;
  height: 40vmin;
  border-radius: 40vmin;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transform: scale(0.5);
  transform-origin: center center;
  animation: pulse-me 4s linear infinite;
}
.moonpulse:after {
  animation-delay: 2s;
}

@keyframes pulse-me {
  0% {
    transform: scale(0.9);
    opacity: 0.3;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
